<div class="container" id ="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha-Blog</h1>
    <p class="lead">Explore new Articles, Create new articles to let the world know what you can write!</p>
    <hr class="my-4">
    <p>You can make anything by writing.</p>
    <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

